body {
    margin: 0;
    font-family: Arial;
    background-color: #141414;
    color: white;
}

header {
    background-color: #000;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: red;
}

.busca-container {
    text-align: center;
    margin: 40px;
}

input, select, button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: red;
    color: white;
    cursor: pointer;
}

.btn-voltar {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.btn-voltar:hover {
    background-color: darkred;
}

.resultados {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

.card {
    background-color: #1f1f1f;
    width: 280px;   
    margin: 15px;
    display: inline-block;
    vertical-align: top;
    border-radius: 8px;
    overflow: hidden;
    font-size: 14px;
}

.card img {
    width: 100%;
    height: 160px;
}

.info {
    padding: 8px;
}
.provedor {
    background-color: red;
    padding: 5px 10px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
}

.footer {
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    font-size: 14px;
}

.footer a {
    color: red;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.erro-container {
    text-align: center;
    margin-top: 80px;
}

.erro-container img {
    width: 400px;
    max-width: 90%;
    margin-bottom: 20px;
}